[user]
    name = morosawamikihito
    email = morosawa.mikihito@gmail.com
[alias]
    s = status
    a = add .
    c = commit -m
    ch = checkout
    b = branch
[color]
	ui = auto
[core]
	autocrlf = input
